/*------------------------------------*\
    COLORS
\*------------------------------------*/

$colorLink:#47a39e;

$colorTextDark:#0B0C10;
$colorTextLight:#fff;
$colorTextMuted:#c5c6c7;

$colorPrimary:#1F2833;
$colorPrimaryLight:#65fdf1;
$colorPrimaryMid:#47a39e;