/*------------------------------------*\
    COLORS
\*------------------------------------*/

//MAIN BACKGROUND
$mainBG:#1F2833;

//LEAD COLORS (Based on Bird of Paradise color scheme blue
$birdofparadiseDark:#fff;
$birfofparadiseLight:#fff;

$mainBlue:#fff;
$mainBlueDark:#fff;

$leadLight: #66FCf1;
$leadDark: #45A29E;

//TEXT COLORS
$textDark:#0B0C10;
$textWhite: #fff;
$textMuted: #c5c6c7;