.bio{
    display:block;
    
    &__image{
        float:left;
        margin:1em;
        width:25rem;
    }

    &__image img{
        -webkit-box-shadow:0 3px 6px rgba(0,0,0,.25);
        box-shadow:0 3px 6px rgba(0,0,0,.25);
        background-color:#fff;
        -webkit-transform:rotate(5deg);
        transform:rotate(5deg);
    }

    &__content{
        margin-right:25px;
        margin-bottom:25px;
    }
}