.card{
        
    &__single{
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 1rem;
        overflow: hidden;
        
        @include respond(phone){
            border-bottom: none;
        }
        
        @include respond(phone){
            max-width:40rem;
        }
    }
    
    &__single:last-child{
        border-bottom: none;
    }
    
    &__single-title{
        text-align: left;
        font-size: 2.8rem;
        font-weight: 100;
        text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
        line-height: 145%;
        
        &--sm{
            font-size: 2.2rem;
        }
    }
    
    &__single-title-link{
        color:#000;
        font-weight: 100;
    }
    
    &__single-title-link:hover{
        border-bottom: 2px solid #000;
    }
    
    &__single-image{
        padding: 2rem 0;
        
        &--mxh{
            max-height: 30rem;
        }
        
        @include respond(phone){
            padding:1rem 0;
        }
    }
    
    &__single-details{
        padding: 2rem 0;
        
        @include respond(phone){
            padding:1rem 0;
        }
    }
    
    &__single-dates p, &__single-prices p{
        font-size: 1.6rem;
        font-weight: bold;
        color:$colorTextMuted;
    }
    
    &__single-location{
        font-size: 1.8rem;
    }
}