.card{
    p,li{
        font-size: 1.8rem;
    }
        
    &__single{
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 1rem;
        overflow: hidden;
        
        @include respond(phone){
            border-bottom: none;
        }
        
        @include respond(phone){
            max-width:40rem;
        }

    }
    
    &__single:last-child{
        border-bottom: none;
    }
    
    &__single-title{
        text-align: left;
        font-size: 2.8rem;
    }
    
    &__single-title-link{
        color:#000;
    }
    
    &__single-title-link:hover{
        border-bottom: 2px solid #000;
    }
    
    &__single-image{
        padding: 2rem 0;
        
        @include respond(phone){
            padding:1rem 0;
        }
    }
    
    &__single-details{
        padding: 2rem 0;
        
        @include respond(phone){
            padding:1rem 0;
        }
    }
}