.feature{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center top;
    display:table;
    margin:0 auto;
    width:100%;
    position:relative;
    padding: 50px 50px;
    transition:background-size 0.5s;
    min-height: 50rem;

    &__content{
        display:table-cell;
        position:relative;
        z-index:2;
        color:rgba(255,255,255,0.9);
        transition:color 0.5s ease-in-out; 
        font-size: 1.8rem;
    }
    
    &__content:hover{
        color:rgba(255,255,255,1);
    }
    
    &__title{
        font-size: 4rem;
        margin:2rem 0;
    }
    
    &__info-group{
        line-height:2.8rem;
        display:block;
        margin:2rem 0;
    }
    
    &__button-container{
        display:block;
        margin:2rem 0;
    }
     
    &--text-white{
        color:#fff;
    } 
}

/*Shaded overlay */
.feature::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.6);
  transition:background-color 0.5s linear;
}

.feature:hover:after{
  background-color:rgba(0,0,0,.9);
}







/****** TWAIN FEATURE STYLES ********/
#twain .l-grid1-2{
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
}

.feature-image{
  width:100%;
}

.feature-image img{
  width:100%;
  display:table-cell;
  position:relative;
  z-index:2;
}

.feature-image{
  float:right;
}

#twain .feature-image{
  display:none;
}

#twain a{
  display:inline;
}

#twain .feature-text{
  align-self:center;
  padding:60px 0;
}

#twain .feature-image{
  align-self:flex-end;
}

@media only screen and (min-width:768px){  
  .feature a{
    display:inline-block;
  }
  
   #twain .feature-image{
    display:block;
  }
}

@media only screen and (min-width:960px){
  .feature{
    background-size:102%;
  }
  
  .feature:hover{
    background-size:100%;
  }
}