.wpcf7{
    font-size: 1.6rem;
    
    .field{
        margin-bottom: 20px;
        width:100%;
    }
    
    input, textarea{
        width:100%;
        border: 3px solid $colorPrimaryDark;
        padding: 15px 10px;
    }
}