.header{
    margin:0;
    padding:0;
    
    &__mobile-nav{
        padding:20px 0;
        display:block;
        text-align:center;
        
        
        &--burgernav{
            font-size:25px;
            font-size:2.5rem;
        }
        
        &--burgernav i{
            background:#1c242e;
            padding:5px;
            margin: 0 5px;
            color:#fff;
        }
        
        a:hover{
            border-bottom: none;
        }  
    }
}