.main-nav{
    display:block;
    
    &__items{
        margin:25px 0;
        display:inline-block;
    }
        
    &__items li{
        display:inline-block;
        height: 60%;
        line-height: 15px; 
    }

    &__items li a{
        padding: 24px 35px 24px 35px;	
        border-right:1px solid #45a29E;
        font-weight:700;
        color:#0b0c10;
        text-transform:uppercase;
    }

    &__items li a:hover{
        border-bottom: none;
    }

    &__items li.current_page_item a{
        color:#45a29E !important;
    }
}