.main-nav{
    display: block;
    padding:4rem 0;
    
    @include respond(tab-port){
        padding:0;
    }
    
    &__items{
        display:table;
        
        @include respond(tab-port){
            display:block;
        }
    }
        
    &__items li{
        text-transform:uppercase;
        display:table-cell;
        line-height: 1.5rem;
        font-size: 1.6rem;
        padding:2rem;
        border-right:1px solid #45a29E;
        font-weight:700;
        
        @include respond(tab-port){
            display: block;
            text-align: center;
            border-right: none;
        }
    }

    &__items li a{
        color:#0b0c10;
        @include respond(tab-port){
            border-right: none;
        }
    }

    &__items li a:hover{
        border-bottom: none;
    }

    &__items li.current_page_item a{
        color:#45a29E !important;
    }
}