.my-services{
	overflow:hidden;
}

.services-items{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center top;
  width:100%;
  position:relative;
  color:rgba(255,255,255,0.5);
  min-height:275px;
  border:1px solid #e8e8e8;
  padding: 20px 20px;
  transition:color 0.5s ease-in-out, background-size 0.5s;
}

.services-items:hover{
	color:rgba(255,255,255,1);
}

 .services-title{
	text-align:center;
	margin:0;
	color:rgba(255,255,255,1);
}

.services-title:after{
	background:#45A29E;
	content: "";
	display: block;
	height: 3px;
	margin: 0.75em auto;
	width: 25%;
}

.services-items::after{
	content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
	transition:background-color 0.5s linear;
}

.services-items:hover::after{
	background-color:rgba(0,0,0,.7);
}

.services-items-text{
	position:relative;
  z-index:2;
	padding-top:0;
}

.services-items-text p{
	max-width:65%;
	margin:0 auto;
	font-weight:bold;
}

.sidebar .services-items{
	background-size:135%;
}

.sidebar .services-items:hover{
	background-size:130%;
}

.sidebar .services-items-text{
	padding: 5px 0;
}

.sidebar .services-items-text p{
	max-width:100%;
	font-size:1.4rem;
}

@media only screen and (min-width:767px) {
	.services-items-text p{
		margin:0 auto;
	}
}

@media only screen and (min-width:960px){
    .services-items{
		background-size:102%;
	}
	
	.services-items:hover{
		background-size:100%;
	}
}