.text-block{ //For embedded text styles
        line-height: 2.6rem;

    &--promo{
        font-size: 1.8rem;
        line-height: 145%;
    }
    
    &__title{
            
        &--promo{
            font-size: 3.5rem;
            margin: 2rem 0;
            line-height: 145%;
        }
        
    }
    
    &__tagline{
        
        &--promo{
            font-size: 2.5rem;
            margin:2rem 0;
            line-height: 145%;
        }
    }
    
    &__text{
        
    }
    
    
    &__item{
        
        font-size: 1.8rem;
        
    }

    & p{
        margin: 1rem 0;
    }   
}