.text-block{ //For embedded text styles
    line-height: 145%;
    font-size: 1.6rem;
    max-width: 85%;
    
    &--full-width{
        max-width: 70%;
    }
    
    &--intro{
        color:$colorGrayDark;
        font-weight: bold;
        line-height: 145%;
        font-size: 1.6rem;
    }

    &--promo{
        font-size: 1.8rem;
        line-height: 145%;
    }
    
    &__title{
            
        &--promo{
            font-size: 3.5rem;
            margin: 2rem 0;
            line-height: 145%;
        }
    }
    
    &__tagline{
        
        &--promo{
            font-size: 2.5rem;
            margin:2rem 0;
            line-height: 145%;
        }
    }
    
    &__item{    
        font-size: 1.8rem;
    }
    
    &__info-bar{
        color:$colorGrayMid;
        font-weight: bold;

        p{
            display:inline;
        }
    }

    p{
        margin: 1rem 0;
    }
}

.title-text-image{
    &__title{
        text-align:left !important;
        margin:10px 0;
        font-size: 2.2rem;
    }
    
    &__text{
        font-size: 1.4rem;
        line-height: 145%;        
    }
    
    &__image{
        
    }
}

.size-medium{
    width:30rem;
}