.text-block{ //For embedded text styles
    &__item{
        font-size: 1.8rem;
        
        &--link{
           font-size: 1.8rem; 
        }
        
    }

    & p{
        margin: 1rem 0;
    }
    
}