.blog-post{
	max-width:750px;
/*    border-bottom: 2px solid #e5e5e5;*/
    margin-bottom:20px;
}

.blog-post:after{
    background: #e5e5e5;
    content: "";
    display: block;
    height: 1px;
/*    margin: 0.75em auto;*/
    width: 85%;
}

.sidebar .blog-post:after{
  display:none;
}

.blog-content{
  margin:20px 0;
}

.blog-image{
  overflow:hidden;
	max-height:350px;
	margin-bottom:30px;
}


/* BEM test */

.blog-post__image{
	overflow:hidden;
	max-height:350px;
	margin-bottom:30px;
}

.blog-post__image img{
	width:85%;
}

.blog-post__content{
	margin:20px 0;
}

@media only screen and (min-width:871px) {
	.blog-image{
		overflow:hidden;
	}	
}

.blog-image img{
  width:85%;
}

.blog-content h3{
  margin:20px 0;
}

.blog-content h3 a{
  color:#000;
}

.blog-content h3 a:hover{
  border-bottom:2px solid #000;
}

.post-author{
  font-weight:bold;
  color:#2d507c;
}