.feature{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center top;
  display:table;
  margin:0 auto;
  width:100%;
  position:relative;
  padding: 50px 50px;
  transition:background-size 0.5s;
}

.feature:hover{
}

.feature a{
  display:block;
}

.feature-no-tbpadding{
  padding: 0 50px;
}

.feature h2{
  font-weight:bold;
  margin:15px 0;
  color:#fff;
}

/* .feature h2:after {
  background: #45A29E;
  content: "";
  display: block;
  height: 3px;
  margin: 0.75em 1em;
  width: 40%;
}
 */
.feature h3{
  font-weight:bold;
}

.feature p{
  font-weight:bold;
}

/*Shaded overlay */
.feature::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.6);
  transition:background-color 0.5s linear;
}

/* .active.feature::after {
  background-color:rgba(0,0,0,.7);
} */

.feature:hover:after{
  background-color:rgba(0,0,0,.9);

}

.feature-text{
  display:table-cell;
  position:relative;
  z-index:2;
  color:rgba(255,255,255,0.9);
  transition:color 0.5s ease-in-out;
}

.feature-text:hover{
  color:rgba(255,255,255,1);
}

.feature a{
  margin-top:10px;
}

.feature-image{
  width:100%;
}

.feature-image img{
  width:100%;
  display:table-cell;
  position:relative;
  z-index:2;
}

.feature-text a:hover{
  border-bottom:none;
}

.feature-image{
  float:right;
}

/****** TWAIN FEATURE STYLES ********/

#twain .l-grid1-2{
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
}

#twain .feature-image{
  display:none;
}

#twain a{
  display:inline;
}

#twain .feature-text{
  align-self:center;
  padding:60px 0;
}

#twain .feature-image{
  align-self:flex-end;
}

#twain .feature-text h2{
}

@media only screen and (min-width:768px){  
  .feature a{
    display:inline-block;
  }
  
   #twain .feature-image{
    display:block;
  }
}

@media only screen and (min-width:960px){
  .feature{
    background-size:102%;
  }
  
  .feature:hover{
    background-size:100%;
  }
}
