@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.headline {
  color: #000;
}
.headline:hover {
  border-bottom: 2px solid #000;
}
/*TYPOGRAPHY*/
/* 10px root size */
h1, h2, h3, h4 {
  letter-spacing: 1.4px;
  text-align: left;
}
/*Main Banner*/
h1 {
  font-size: 10vw;
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 8rem;
    font-size: 80px;
  }
}
/*Secondary Banner*/
.secondary-banner h1 {
  font-size: 7vw;
}
@media only screen and (min-width: 920px) {
  .secondary-banner h1 {
    font-size: 6rem;
    font-size: 60px;
  }
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p, li {
  font-size: 1.6rem;
  line-height: 145%;
}
p {
  max-width: 85%;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 767px) {
  /* 	h2{
   font-size:3.5rem;
   }
   h3{	
   font-size:2.5rem;
   }
   h4{
   font-size:2.0rem;
   } */
  p, li {
    font-size: 1.6rem;
  }
}
.l-page-title h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}
/*------------------------------------*\
 COLORS
 \*------------------------------------*/
/* global box-sizing */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 10px;
}
body {
  /* 	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
/* font-family: 'Oswald', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Merriweather', serif;
 font-family: 'Lora', serif;
 font-family: 'Arimo', sans-serif; */
/*IMAGE BASE */
img {
  max-width: 100%;
  vertical-align: bottom;
}
/*LINKS */
a {
  color: #45a29e;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  border-bottom: 2px solid #45a29e;
}
.no-hover:hover {
  border-bottom: none;
}
.inherit {
  color: inherit;
  font-weight: inherit;
}
.bg-primary {
  background-color: #1f2833;
}
.bg-neutral {
  background-color: #e8e8e8;
}
.text-primary {
  color: #1f2833;
}
.bg-lead-light {
  background-color: #66fcf1;
}
.text-lead-light {
  color: #66fcf1;
}
.bg-lead-dark {
  background-color: #45a29e;
}
.text-lead-dark {
  color: #45a29e;
}
.bg-dark {
  background-color: #0b0c10;
}
.text-dark {
  color: #0b0c10;
}
.background-fade {
  background-color: #aac2ce;
}
.e-overlay-fade {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.e-overlay-fade:hover {
  opacity: 0;
}
.e-image-scale img {
  transform: scale(1.1);
}
.text-muted {
  color: #c5c6c7;
  font-weight: bold;
}
.text-white {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.clear-fix {
  clear: both;
}
/*------------------------------------*\
 MISC
 \*------------------------------------*/
::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
/*------------------------------------*\
 WORDPRESS CORE
 \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
 PRINT
 \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
.bio {
  display: block;
}
.bio__image {
  float: left;
  margin: 1em;
  width: 25rem;
}
.bio__image img {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  background-color: #fff;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.bio__content {
  margin-right: 25px;
  margin-bottom: 25px;
}
/*    border-bottom: 2px solid #e5e5e5;*/
.blog-post__image {
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 30px;
}
.blog-post__content {
  margin: 20px 0;
}
.blog-post__title {
  margin: 20px 0;
  color: #000;
  display: inline-block;
}
.blog-post__link {
  display: inline-block;
  font-size: 1.6rem;
}
.blog-post:after {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 1px;
  /*    margin: 0.75em auto;*/
  width: 85%;
}
/* BUTTONS */
.btn {
  padding: 1.1em 1.1em;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  /* 	transition: background-color 0.4s, color 0.4s; */
}
.btn--primary {
  border: 2px solid #2d507c;
  background-color: #2d507c;
  color: #fff;
  font-weight: bold;
  /* 	transition: background-color 0.4s, color 0.4s; */
}
.btn--primary:hover {
  color: #fff;
  border: 2px solid #7f91a6;
  background-color: #7f91a6;
}
.btn--secondary {
  font-weight: bold;
  color: #0b0c10;
  background-color: #66fcf1;
}
.btn--secondary:hover {
  color: #0b0c10;
  background-color: #53dbd1;
}
.card__single {
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.card__single:last-child {
  border-bottom: none;
}
.card__image-container {
  width: 75%;
  max-height: 30em;
  overflow: hidden;
}
.card__details-container {
  padding: 10px 0;
  overflow: hidden;
}
/* ROLES DESKTOP */
@media only screen and (min-width: 768px) {
  .card__details {
    width: 60%;
    padding: 0 10px;
  }
  .card__image-container {
    float: left;
    width: 40%;
    max-height: 20em;
  }
  .card__single-title {
    margin-top: 0;
    margin-bottom: 10px;
  }
}
.feature {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: table;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 50px 50px;
  transition: background-size 0.5s;
}
.feature__content {
  display: table-cell;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.5s ease-in-out;
}
.feature__content:hover {
  color: rgba(255, 255, 255, 1);
}
.feature__info-group {
  display: block;
}
.feature__button-container {
  display: block;
}
.feature--text-white {
  color: #fff;
}
/*Shaded overlay */
.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: background-color 0.5s linear;
}
.feature:hover:after {
  background-color: rgba(0, 0, 0, .9);
}
/****** TWAIN FEATURE STYLES ********/
#twain .l-grid1-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.feature-image {
  width: 100%;
}
.feature-image img {
  width: 100%;
  display: table-cell;
  position: relative;
  z-index: 2;
}
.feature-image {
  float: right;
}
#twain .feature-image {
  display: none;
}
#twain a {
  display: inline;
}
#twain .feature-text {
  align-self: center;
  padding: 60px 0;
}
#twain .feature-image {
  align-self: flex-end;
}
@media only screen and (min-width: 768px) {
  .feature a {
    display: inline-block;
  }
  #twain .feature-image {
    display: block;
  }
}
@media only screen and (min-width: 960px) {
  .feature {
    background-size: 102%;
  }
  .feature:hover {
    background-size: 100%;
  }
}
footer {
  margin-top: 20px;
  padding: 20px;
  color: #fff;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  padding: 3px;
}
.footer ul li a {
  color: #e8e8e8;
}
.footer ul li a:hover {
  border-bottom: 1px solid #fff;
}
.wpcf7 {
  background-color: #2d507c;
  padding: 10px !important;
  width: 75%;
  display: block;
  color: #fff;
  overflow: hidden;
}
.wpcf7 input, .wpcf7 textarea {
  width: 100%;
}
.wpcf7 label {
  font-weight: bold;
}
.wpcf7 .btn {
  width: 25%;
  margin: 0 auto;
  display: block;
}
.wpcf7--2col {
  width: 100%;
}
.wpcf7 p {
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .home div.wpcf7 {
    width: 115%;
  }
}
header {
  margin: 0;
  padding: 0;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
/*LOGO DESKTOP STYLES */
@media only screen and (min-width: 768px) {
  .logo {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
  .logo-img {
    max-height: 73px;
  }
}
.page-header-image {
  margin: 10px auto;
  display: none;
}
@media only screen and (min-width: 871px) {
  .page-header-image {
    display: block;
    margin: 0px auto;
  }
}
.page-header-image img {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
}
.main-banner {
  background-color: #202934;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  background-size: 70px 120px;
  overflow: hidden;
  color: #fff;
}
.main-banner__description {
  color: #c5c6c7;
  font-size: 1.8rem;
  padding: 10px 0;
  max-width: 75%;
}
.main-banner__title {
  margin-bottom: 0px;
  text-align: left;
}
.main-banner__image {
  align-self: flex-end;
  overflow: hidden;
}
.main-banner__image img {
  width: 100%;
}
.main-banner__list {
  padding: 20px 0;
}
.main-banner__list-item {
  font-size: 3.5vw;
  margin-right: 10px;
  display: inline-block;
}
.main-banner__list-item-bullet:before {
  background-color: #45a29e;
  content: "";
  display: inline-block;
  margin: 2px;
  padding: 5px;
  box-shadow: 0 2px 0 0 #000;
}
.main-banner__content a, .main-banner__content p {
  display: none;
}
@media only screen and (min-width: 725px) {
  .main-banner__content a, .main-banner__content p {
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  .main-banner__list li {
    font-size: 2.8rem;
    font-size: 28px;
  }
}
.l-main-banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.l-secondary-banner-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.l-grid-feature {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.l-grid-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.l-grid-main, .l-grid1-2, .l-grid1-3, .l-grid1-4 {
  grid-gap: 3em;
}
@media only screen and (min-width: 1000px) {
  .l-grid-main {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
  }
}
@media only screen and (min-width: 768px) {
  .l-grid1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .l-grid1-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .l-grid1-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-grid-offset1-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 1em;
  }
  .l-grid-feature {
    display: block;
  }
  .l-grid-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* COLUMNS */
@media only screen and (min-width: 768px) {
  .col2-3 {
    width: 60%;
    float: left;
  }
  .col1-3 {
    width: 35%;
    float: left;
  }
  .col1-2 {
    width: 45%;
    float: left;
  }
}
footer .l-grid1-3 {
  justify-items: center;
}
main {
  padding: 0 0;
}
aside {
  margin: 0 auto;
  max-width: 70%;
  min-width: 350px;
}
@media only screen and (min-width: 1000px) {
  /*This query has to coincide with main-grid.*/
  aside {
    width: 100%;
  }
}
.section {
  overflow: hidden;
}
.section-title {
  margin: 60px 0;
}
.l-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
}
.l-wrapper--narrow {
  max-width: 900px;
  width: 100%;
  position: relative;
}
