background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -moz-linear-gradient(330deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -moz-linear-gradient(30deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -o-linear-gradient(330deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -o-linear-gradient(30deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
/* 
 0-600 : Phone
 600 - 700 : Phone - Landscape
 700-900 : Tablet - Portrait
 900-1200 : Tablet - Landscape
 [1200 - 1800] : Normal Styles
 1800 + : Big Desktop
 */
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
.header__main {
  font-size: 8.5rem;
  margin-bottom: 0px;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
@media (max-width: 56.25em) {
  .header__main {
    font-size: 7rem;
  }
}
@media (max-width: 37.5em) {
  .header__main {
    font-size: 4rem;
  }
}
.header__secondary {
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
.header__page-title {
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
.header__section-title {
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
  font-size: 4rem;
}
.header__single {
  font-size: 2.8rem;
}
.header__single--small {
  font-size: 2rem;
}
/*TYPOGRAPHY*/
h1, h2, h3, h4 {
  letter-spacing: 1.4px;
  text-align: left;
}
ol, ul {
  list-style: none;
}
/*------------------------------------*\
 COLORS
 \*------------------------------------*/
/* global box-sizing */
*, *:after, *:before {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  /* 	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
/* font-family: 'Oswald', sans-serif;
 font-family: 'Raleway', sans-serif;
 font-family: 'Merriweather', serif;
 font-family: 'Lora', serif;
 font-family: 'Arimo', sans-serif; */
/*IMAGE BASE */
img {
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 0.2rem;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
}
/*LINKS */
a {
  color: #47a39e;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #47a39e;
}
.no-hover:hover {
  border-bottom: transparent;
}
.inherit {
  color: inherit;
  font-weight: inherit;
}
.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.u-color-primary {
  color: #1f2833;
}
.u-color-primary-light {
  color: #65fdf1;
}
.u-color-primary-mid {
  color: #47a39e;
}
.u-bgcolor-primary {
  background-color: #1f2833;
}
.u-bgcolor-primary-light {
  background-color: #65fdf1;
}
.u-bgcolor-primary-mid {
  background-color: #47a39e;
}
.u-text-muted {
  color: #606060;
}
.u-text-bold, .u-text-bold p {
  font-weight: 700;
}
.u-d-iblock {
  display: inline-block;
}
.background-fade {
  background-color: #aac2ce;
}
.e-overlay-fade {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.e-overlay-fade:hover {
  opacity: 0;
}
.e-image-scale img {
  transform: scale(1.1);
}
.u-a-flxend {
  align-self: flex-end;
}
.clear-fix {
  clear: both;
}
/*------------------------------------*\
 MISC
 \*------------------------------------*/
::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}
/*------------------------------------*\
 WORDPRESS CORE
 \*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text, .gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
 PRINT
 \*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
.bio {
  display: block;
}
.bio__image {
  float: left;
  margin: 1em;
  width: 25rem;
}
.bio__image img {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
  background-color: #fff;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.bio__content {
  margin-right: 25px;
  margin-bottom: 25px;
}
/*    border-bottom: 2px solid #e5e5e5;*/
.blog-post__image {
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 30px;
}
.blog-post__content {
  margin: 20px 0;
}
.blog-post__title {
  margin: 20px 0;
  color: #000;
  display: inline-block;
}
.blog-post__link {
  display: inline-block;
  font-size: 1.6rem;
}
.blog-post:after {
  background: #e5e5e5;
  content: "";
  display: block;
  height: 1px;
  /*    margin: 0.75em auto;*/
  width: 85%;
}
/* BUTTONS */
.btn {
  padding: 1.5rem 1.5rem;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 0.2rem;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  /* 	transition: background-color 0.4s, color 0.4s; */
}
.btn--master {
  font-size: 2rem;
  padding: 2rem 2rem;
}
.btn--primary {
  border: 2px solid #2d507c;
  background-color: #2d507c;
  color: #fff;
  font-weight: bold;
  /* 	transition: background-color 0.4s, color 0.4s; */
}
.btn--primary:hover {
  color: #fff;
  border: 2px solid #7f91a6;
  background-color: #7f91a6;
}
.btn--secondary {
  font-weight: bold;
  color: #0b0c10;
  background-color: #65fdf1;
}
.btn--form {
  border: none !important;
  width: 35% !important;
}
.btn--secondary:hover {
  color: #0b0c10;
  background-color: #65fdf1;
}
.card__single {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  overflow: hidden;
}
@media (max-width: 37.5em) {
  .card__single {
    border-bottom: none;
  }
}
@media (max-width: 37.5em) {
  .card__single {
    max-width: 40rem;
  }
}
.card__single:last-child {
  border-bottom: none;
}
.card__single-title {
  text-align: left;
  font-size: 2.8rem;
  font-weight: 100;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
}
.card__single-title--sm {
  font-size: 2.2rem;
}
.card__single-title-link {
  color: #000;
  font-weight: 100;
}
.card__single-title-link:hover {
  border-bottom: 2px solid #000;
}
.card__single-image {
  padding: 2rem 0;
}
.card__single-image--mxh {
  max-height: 30rem;
}
@media (max-width: 37.5em) {
  .card__single-image {
    padding: 1rem 0;
  }
}
.card__single-details {
  padding: 2rem 0;
}
@media (max-width: 37.5em) {
  .card__single-details {
    padding: 1rem 0;
  }
}
.card__single-dates p, .card__single-prices p {
  font-size: 1.6rem;
  font-weight: bold;
  color: #606060;
}
.card__single-location {
  font-size: 1.8rem;
}
.feature {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: table;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 50px 50px;
  transition: background-size 0.5s;
  min-height: 50rem;
}
.feature__content {
  display: table-cell;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.5s ease-in-out;
  font-size: 1.8rem;
}
.feature__content:hover {
  color: rgba(255, 255, 255, 1);
}
.feature__title {
  font-size: 4rem;
  margin: 2rem 0;
}
.feature__info-group {
  line-height: 2.8rem;
  display: block;
  margin: 2rem 0;
}
.feature__button-container {
  display: block;
  margin: 2rem 0;
}
.feature--text-white {
  color: #fff;
}
/*Shaded overlay */
.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: background-color 0.5s linear;
}
.feature:hover:after {
  background-color: rgba(0, 0, 0, .9);
}
/****** TWAIN FEATURE STYLES ********/
#twain .l-grid1-2 {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.feature-image {
  width: 100%;
}
.feature-image img {
  width: 100%;
  display: table-cell;
  position: relative;
  z-index: 2;
}
.feature-image {
  float: right;
}
#twain .feature-image {
  display: none;
}
#twain a {
  display: inline;
}
#twain .feature-text {
  align-self: center;
  padding: 60px 0;
}
#twain .feature-image {
  align-self: flex-end;
}
@media only screen and (min-width: 768px) {
  .feature a {
    display: inline-block;
  }
  #twain .feature-image {
    display: block;
  }
}
@media only screen and (min-width: 960px) {
  .feature {
    background-size: 102%;
  }
  .feature:hover {
    background-size: 100%;
  }
}
.footer {
  padding: 8rem;
  background-color: #1f2833;
}
.footer__menu-content ul {
  list-style: none;
}
.footer__social-content {
  padding: 5rem 0;
}
.footer__social-content p, .footer__social-content li {
  font-size: 1.8rem;
}
.footer__copyright-content {
  text-align: center;
  color: #fff;
  padding: 5rem 0;
  font-size: 1.4rem;
}
.footer__menu-content .menu-item a:link, .footer__menu-content .menu-item a:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, .05);
}
.footer__menu-content .menu-item a:hover, .footer__menu-content .menu-item a:active {
  background-color: rgba(255, 255, 255, .08);
  transform: translateY(-3px);
  border-bottom: transparent;
}
.footer__social-content .menu-item a:link, .footer__social-content .menu-item a:visited {
  color: #fff;
  display: block;
  transition: all 0.2s;
  background-color: transparent;
}
.footer__social-content .menu-item a:hover, .footer__social-content .menu-item a:active {
  background-color: transparent;
  transform: translateY(-3);
  border-bottom: transparent;
}
.wpcf7 {
  font-size: 1.6rem;
}
.wpcf7 .field {
  margin-bottom: 20px;
  width: 100%;
}
.wpcf7 input, .wpcf7 textarea {
  width: 100%;
  border: 3px solid #2d507c;
  padding: 15px 10px;
}
header {
  margin: 0;
  padding: 0;
}
.hero {
  background-color: #1f2833;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-linear-gradient(330deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -webkit-linear-gradient(30deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  background-size: 7rem 10.2rem;
  overflow: hidden;
  color: #fff;
}
.hero__content {
  padding-left: 1rem;
}
.hero__image {
  align-self: flex-end;
  overflow: hidden;
}
.hero__image img {
  width: 100%;
}
.hero__list {
  padding: 2rem 0;
}
.hero__list-item {
  font-size: 4rem;
  margin-right: 1rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .hero__list-item {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .hero__list-item {
    font-size: 2rem;
  }
}
.hero__list-item-bullet:before {
  background-color: #45a29e;
  content: "";
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem;
  box-shadow: 0 2px 0 0 #000;
}
.hero__description {
  color: #606060;
  font-size: 1.8rem;
  padding: 2rem 0;
  max-width: 75%;
}
@media (max-width: 37.5em) {
  .hero__description {
    display: none;
  }
}
.hero__btn-container {
  padding: 2rem 0;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
/*LOGO DESKTOP STYLES */
@media only screen and (min-width: 768px) {
  .logo {
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
  .logo-img {
    max-height: 73px;
  }
}
.main-nav {
  display: none;
}
header .l-wrapper {
  max-width: 1300px;
  padding: 0;
}
.main-nav-items li {
  padding: 12px 0;
  text-align: center;
}
.main-nav-items li.current_page_item a {
  color: #45a29e !important;
}
.main-nav-items li a {
  font-weight: 700;
  color: #0b0c10;
  text-transform: uppercase;
}
.main-nav-items li a:hover {
  border-bottom: none;
}
/* MOBilE MENU ICON */
.mobile-nav {
  padding: 20px 0;
  display: block;
  text-align: center;
}
.mobile-icon {
  font-size: 25px;
  font-size: 2.5rem;
}
.mobile-icon i {
  background: #1c242e;
  padding: 5px;
  margin: 0 5px;
  color: #fff;
}
.mobile-nav a:hover {
  border-bottom: none;
}
/* DESKTOP NAV */
@media only screen and (min-width: 1190px) {
  /*.main-nav ul li a:hover{
   outline: #A94D55 solid thin;
   } */
  .main-nav {
    display: block;
  }
  .main-nav-items {
    margin: 25px 0;
    display: inline-block;
  }
  .main-nav-items li {
    display: inline-block;
    height: 60%;
    line-height: 15px;
  }
  .main-nav-items li a {
    padding: 24px 35px 24px 35px;
    border-right: 1px solid #45a29e;
  }
  .mobile-nav {
    display: none;
  }
}
/*END MAIN NAV */
/* SOCIAL BAR */
.social-bar {
  background-color: #66fcf1;
  height: 5em;
}
.social-bar .l-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.social-items {
  padding: 0;
  margin: 0;
  float: right;
}
.social-items li {
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  line-height: 2em;
  font-size: 2.2rem;
}
.social-items li a {
  text-transform: uppercase;
  padding: 2px 2px;
}
.social-bar .menu-item i._before, .rtl .menu-item i._after {
  color: #0b0c10 !important;
}
.social-items a:hover {
  border: none;
}
.social-items li a span {
  display: none;
}
.social-bar .menu-item i._before, .rtl .menu-item i._after {
  margin: 0;
  color: #e8e8e8;
}
.page-header-image {
  margin: 10px auto;
  display: none;
}
@media only screen and (min-width: 871px) {
  .page-header-image {
    display: block;
    margin: 0px auto;
  }
}
.page-header-image img {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
}
.servo-box {
  background-color: rgba(255, 255, 255, .8);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  position: relative;
}
.servo-box:hover {
  transform: translateY(-0.5rem) scale(1.01);
}
.servo-box__photo {
  background-blend-mode: overlay;
  background-size: cover;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.servo-box__title {
  position: absolute;
  top: 15rem;
  right: 2rem;
  text-align: right;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  width: 75%;
}
.servo-box__title-span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding: 0.2rem 1.5rem;
  background-image: linear-gradient(to right bottom, rgba(101, 253, 241, .85), rgba(45, 80, 124, .85));
}
.servo-box__details {
  padding: 3rem;
}
.servo-box__details ul {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.servo-box__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}
.servo-box__details a {
  padding: 1rem;
}
.my-services {
  overflow: hidden;
}
.services-items {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  min-height: 275px;
  border: 1px solid #e8e8e8;
  padding: 20px 20px;
  transition: color 0.5s ease-in-out, background-size 0.5s;
}
.services-items:hover {
  color: rgba(255, 255, 255, 1);
}
.services-title {
  text-align: center;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}
.services-title:after {
  background: #45a29e;
  content: "";
  display: block;
  height: 3px;
  margin: 0.75em auto;
  width: 25%;
}
.services-items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: background-color 0.5s linear;
}
.services-items:hover::after {
  background-color: rgba(0, 0, 0, .7);
}
.services-items-text {
  position: relative;
  z-index: 2;
  padding-top: 0;
}
.services-items-text p {
  max-width: 65%;
  margin: 0 auto;
  font-weight: bold;
}
.sidebar .services-items {
  background-size: 135%;
}
.sidebar .services-items:hover {
  background-size: 130%;
}
.sidebar .services-items-text {
  padding: 5px 0;
}
.sidebar .services-items-text p {
  max-width: 100%;
  font-size: 1.4rem;
}
@media only screen and (min-width: 767px) {
  .services-items-text p {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 960px) {
  .services-items {
    background-size: 102%;
  }
  .services-items:hover {
    background-size: 100%;
  }
}
/* SIDEBAR */
.sidebar .blog-content h3 {
  text-align: left !important;
  margin: 10px 0;
  line-height: 1em;
}
.sidebar .blog-image {
  max-height: 250px;
}
.sidebar .blog-image img {
  width: 100%;
}
.sidebar h3, h4 {
  text-align: center;
  margin: 0;
}
.sidebar .butt {
  margin: 5px 5px;
}
.sidebar .blog-content, .sidebar .bio-content-excerpt {
  font-size: 1.4rem;
  line-height: 140%;
}
/* SIDEBAR CONTENT */
/*Reuse these classes for each sidebar query*/
.sidebar-widget-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  overflow: hidden;
}
.sidebar-widget-container:last-child {
  border-bottom: none;
}
.sidebar-widget-title {
  box-shadow: 1px 1px 2px #333;
  padding: 20px;
  background-color: #202934;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  color: #fff;
  margin-bottom: 10px !important;
}
.sidebar-content {
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 2px #333;
  margin: 10px 0;
  padding-bottom: 15px;
}
.sidebar-content:first-child {
  margin: 0 0;
}
.sidebar-content:last-child {
  /* 	border-bottom:none;
   margin-bottom:0; */
}
.sidebar-content li, p {
  font-weight: 400;
}
.sidebar-image {
  max-height: 250px;
  overflow: hidden;
}
.sidebar-image img {
  width: 100%;
  padding: 0px;
  background-color: #fff;
}
.sidebar-text-container {
  padding: 15px 10px;
  margin: 0 auto;
  display: block;
  position: relative;
  width: 75%;
}
.sidebar-buttons {
  padding: 0 50px;
}
.sidebar-buttons a {
  display: block;
}
.sidebar .blog-post:after {
  display: none;
}
.text-block__item {
  font-size: 1.8rem;
}
.text-block__item--link {
  font-size: 1.8rem;
}
.text-block p {
  margin: 1rem 0;
}
.row {
  max-width: 114rem;
  margin: 1rem auto;
}
.row:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
.bg-red {
  background-color: orangered;
}
.bg-green {
  background-color: palegreen;
}
.padding100 {
  padding: 2rem;
}
.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.grid-auto--short {
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  justify-content: center;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
@media (max-width: 43.75em) {
  .grid2--1col-phone-land {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 37.5em) {
  .grid2--1col-phone {
    grid-template-columns: 1fr;
  }
}
.grid4 {
  display: grid;
}
@media (max-width: 43.75em) {
}
.l-main-banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.l-secondary-banner-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.l-grid-feature {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media only screen and (min-width: 1000px) {
  .l-grid-main {
    display: grid;
    grid-template-columns: 2fr 0.9fr;
  }
}
@media only screen and (min-width: 768px) {
  .l-grid1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .l-grid1-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .l-grid1-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .l-grid-offset1-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-gap: 1em;
  }
  .l-grid-feature {
    display: block;
  }
  .l-grid-services {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* COLUMNS */
footer .l-grid1-3 {
  justify-items: center;
}
main {
  padding: 0 0;
}
aside {
  margin: 0 auto;
  max-width: 70%;
  min-width: 350px;
}
@media only screen and (min-width: 1000px) {
  /*This query has to coincide with main-grid.*/
  aside {
    width: 100%;
  }
}
.section {
  overflow: hidden;
}
.section__title {
  margin: 4rem 0;
  font-size: 4rem;
}
@media (max-width: 37.5em) {
  .section__title {
    font-size: 3rem;
  }
}
.section__title--secondary {
  margin: 4rem 0;
  font-size: 3rem;
}
@media (max-width: 37.5em) {
  .section__title--secondary {
    font-size: 2.5rem;
  }
}
.l-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
}
.l-wrapper--narrow {
  max-width: 900px;
  width: 100%;
  position: relative;
}
